// nurse Duties
.nur_duties{
    box-shadow: 0px 3px 16px #00000029;
    border-radius: 14px;
    padding:20px;
 }
 .nur_duties_div{
     display:flex;
     justify-content: space-between;
     align-items: center;
     width:100%;
 }
 .duty_addbox{
     fill:#83AF40 !important;
     width:2em !important;
     height:1.3em !important;
 }
 .nur_duties_div .formdiv .brdrcls{
     padding:6px !important
 }
 .date_pic_div{
     display: flex;
     align-items: center;
     justify-content: space-between; 
     margin-top: 10px;  
 }
//  .nurse_de_parent .formdiv:first-child{
//     padding-right: 15px;
//  }
 // tagcss
 .close_tag{
     background-color: #83AE40 !important;
     font-size:12px;
     color:#fff !important;
     padding: 5px 10px !important;
     border-radius: 50px !important;
     margin:10px 0px 10px 0px !important;
 }
 .close_tag .anticon svg{
     background-color: #486022;
 border-radius: 50px;
 font-size: 0.8rem;
 padding: 2px;
 margin-bottom: 0px;
 position: relative;
 fill:#fff !important;
 top: -3px;
 left: 4px;
 }
 // labelbox css
 .nurse_de_parent .formdiv .MuiFormControl-marginNormal{
     border:1px solid #CCCCCC !important;
     border-radius: 2px !important;
 }
 .nurse_de_parent .formdiv .MuiInputBase-inputAdornedEnd{
     color:none !important;
 }
 .nurse_de_parent .formdiv .MuiInput-underline:before{
     border-bottom: 0px !important;
 }
 .nurse_de_parent .formdiv .MuiInputBase-input{
     padding:7px 0px 7px 7px !important; 
     font-size: 13px !important;
     color:#ABA9A9 !important;
 }
 .nurse_de_parent .formdiv .labeltxt{
     color:#333333 !important;
     font-size: 15px !important;
     margin-bottom: 3px;
     font-weight: 600;
 }
 .nurse_de_parent .formdiv .MuiSvgIcon-root{
     fill:#C7C7C7 !important;
 }
 // excleded days
 .excl_parent_div{
     display: flex;
     margin-bottom: 15px;
 }
 .excl_dot{
     width:20px;
     height: 20px;
     background-color: #83AE40;
     border-radius: 50px;
     margin-right: 10px;
 }
 // button
 .proceed{
 border-radius: 50px !important;
 text-transform: none !important;
 background-color: #83AF40 !important;
 color: #fff !important;
 font-weight:600 !important;
 min-width: 35% !important;
 }
 .proceed_div{
     text-align: center;
     margin-top: 10px;
 }
 .date_pic_childdiv{
     width:47%;
 }
 .date_pic_childdiv:nth-child(2)
 {
     margin-bottom: 10px;
 }
 .nurse_de_parent .date_pic_childdiv .formdiv:first-child()
 {
    margin-right: 10px;
 }
 