.nursede_parent{
    width: 100%;
    height: 100%;
    display:flex;
}
.nurse_star_rating{
    width: 63px;
    height: 30px;
    color: #fff;
    background-color:#83AF40;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nurse_de_fstgrid{
    padding-left:3%;
}
.nurse_de_parent .formdiv .Errormsg{
   display: none !important;
}
// .nurse_de_fstitems{
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }
.review_per{
    padding: 5px 10px 0px 10px;
    color: #83AF40;
    font-weight: 600;
}
.nurs_review{
    color: #8E8C8C;
    font-size: 12px;
}
.nur_name{
    color:#333;
    font-weight: bold;
    font-size: 35px;
}
.grid_seconditem{
    display: flex;
    justify-content: center;
    align-items: center;
}
.exp_yrs{
background-color: #cccccc5c;
padding: 7px 15px;
font-weight: 600;
border-radius: 3px;
}
.nurse_de_fstdiv{
    padding-left: 25px;
}
.nurse_thirdgrid{
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.mnth_kwd{
    font-size: 22px;
    color: #83AF40;
    font-weight: 600;
}
.cmy_sup{
    box-shadow: 0px 2px 11px #00000029;
    color:#696969;
    padding:15px 25px;
    font-size: 16px;
    margin-top: 10px !important;
}
.nurse_detl{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
.nurse_de_icons{
    margin-right: 4%;
}
.nurse_dehead{
    font-size: 17px;
    font-weight: 600;
}
.nurse_detl p{
    margin-bottom: 6px !important;
    font-size: 18px !important;
}
.nurse_duties_container{
    padding:3% 12%;
}
.nurse_de_fstgrid {
    position: relative;
    top:-44px;

}
.star_fill{
    fill:#83AE40 !important;
}
.start_emp_fill{
    color:#ABA9A9 !important;
}
.booking_confr{
    box-shadow: 0px 3px 16px #00000029;
    border-radius: 14px;   
}
