.slick_parent_comp .slick-dots li button:before{
    color:#83af40 !important;
    font-size: 8px !important;
}
.slick_parent_comp .slick-dots{
    margin-bottom: 3px !important;
}
.slick_parent_comp{
    margin-bottom: 10px;
}
.slick_parent_comp .slick-dots li button{
    color:#ddd !important;
}