.lab_repeat_div{
 text-align: center;
}
.nur_his_name{
    font-size: 20px;
    font-weight: bold;
    color:#83AF40;
}
.lab_med_head{
    font-size: 20px;
    color:#333;
    font-weight: bold;
}
.h_diet_h{
    font-weight: bold;
    font-size: 20px;
}
.diet_img{
    width:70px;
}
.diet_b_modal .mem_con_namehead{
    margin-bottom: 2px !important;
    font-size: 15px;
    font-weight: 600 !important;
}