.reschedule_head{
    margin-top: 20px;
    font-size: 25px;
    font-family: Roboto, medium;
    margin-left: 82px;
}
.reschedule_cancel{
    color: black;
    padding: 3px 20px;
    border-radius: 50px;
    font-weight: 600;
    cursor: pointer;
    width: 114px;
    margin-right: 10px;
    border: 1px solid #333333 !important;
    font-size: 16px;


}
.reschedule_align{
    color: #fff;
    background-color: #83AF40;
    padding: 3px 10px;
    border-radius: 50px;
    font-weight: 600;
    cursor: pointer;
    width: 114px;
    margin-right: 10px;
    font-size: 16px;
}
.date_div_reschedule{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-top: 10px;  
    width: 400px;
    margin-left: 82px;
}
.date_second_div_reschedule{
    width:47%;
}
.date_second_div_reschedule:nth-child(2)
{
    margin-bottom: 10px;
}
.carousel-inner_reschedule .react_video{
    width: 100% !important;
    height: 60% !important;
}
.coursel_reschedule_align{
    height: 300px;
}
.label_align_reshedule{
    font-size: 16px;
    font-weight: 600;

}
.menu_align{
   
    // width: 37px;
    /* display: flex; */
    padding: 10px;
    margin-left: 12px;

}
.room_arrange{
    margin-left: 18px;
}
.card_reschedule{
    box-shadow: 0px 1px 7px #00000021;
    width: 100px;
    height: 100px;
}
.room_facility{
        font-size: 18px;
    font-weight: 600;
}