.create_r_pro{
    width:95px;
    height:95px;
    border-radius: 50px;
}
.create_r_pro_div{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
}
.create_pro_imgdiv{
   width:100%;
   height:100%;
   padding:10px;
}
.create_r_pro_childdiv{
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 12px;
    width: 40%;
    text-align: center;
}
.star_rateing{
   display:flex;
   justify-content: center;
   align-items: center;
}
.star_rating_icon{
    fill:#83AF40 !important;
    font-size: 3rem !important;
}
.rating_txt{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
}
.create_review{
    font-size: 20px;
    font-weight: bold;
}
.nur_r_name{
    font-size: 16px;
    color:#404040;
}
.sub_rev_butt{
    background-color:#83AF40 !important;
    border-radius: 50px !important;
    text-transform: none !important;
    color: #fff !important;
    font-size: 16px !important;
    font-weight: 600;
    min-width: 50% !important;
}