.doctorbooking_layout{
    padding: 30px 30px 30px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.doctorbooking_layout .flex1{
    width: 25%;
    
}
.doctorbooking_layout .flex2{
    width: 35%;
    
}
.doctorbooking_layout .flex3{
    width: 30%;
    
}
.doctorbooking_layout .flex1,.flex2{
    margin-right:20px
    
}
.doctorbooking_layout .flex1 img{
    width: 100%;

    height: 100%;
}
.titleflex{
    display: flex;
}
.titleflex .title{
    font-weight: 500;
    color: grey;
    margin: 5px 0px;
}
.docspec{
    font-weight: 500;
    color: grey;
    margin: 5px 0px;

}
.docnameflex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.docnameflex .MuiRating-root {
    font-size: 2.5rem !important;
}
.docnameflex img{
    width: 60px;
    height: 60px;
    margin-right: 10px;
    border-radius: 4px;
}
.docname{
    width: 80%;
    border-radius: 15px;
    box-shadow: 0px 0px 4px 1px #ccc;
    padding: 15px;
    font-weight: 600;
    font-size: 18px;
}
.offer_rate{
    margin-left: 10px;
    color: #fd5353;
    font-weight: 600;
    font-size: 18px;
}
.verification{
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin: 8px 0px;
}
.tick{
    width: 20px;
    height: 20px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #83af40;
    margin-left: 10px;
}
.tick svg{
    fill: white;
    width: 15px;
    height: 15px;
}
.reviewrating{
    display: flex;
    align-items: flex-end;
    font-weight: 500;
}
.reviewrating span{
   color: #83af40;
   font-weight: 500;
   margin: 0px 10px;
}
.reviewrating svg{
    width: 20px;
    height: 20px;
    fill: #83af40;
}
.detailpara{
    box-shadow: 0px 0px 4px 1px #ccc;
    width: 100%;
    padding: 15px;
    margin: 15px 0px;
    border-radius: 3px;
}
.detailpara .carousel-indicators {
bottom: -30px;}
.detailpara .carousel-item{
    height: 100%;
}
.detailpara .carousel-indicators .active {
    background-color: #83af40;
}
.detailpara .carousel-indicators li{
    background-color: #ddd;
}
.reviewpost{
    font-weight: 500;
    color: grey;
}
.reviewpost .heads{
    font-style: italic;

}
.detailpara .carousel{
    margin-bottom: 15px !important;
}
.consultingdiv{
    display: flex;
    margin: 10px 0px;
    flex-wrap: wrap;

}
.consultingtype{
    width: 70%;
    margin-right: 20px;
}
.durationdiv{
    font-weight: 500;
    display: flex;
    color: grey;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
}
.selecttime_div{
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    flex-wrap: wrap;
}
.bookedclr{
    width: 15px;
    height: 15px;
    background-color: #fdc2c2;
    border-radius: 2px;
    border: 1px solid #fd5353;
    margin-right: 5px;
}
.selecttime_div div{
    display: flex !important;
    align-items: center;
}
.availableclr{
    width: 15px;
    height: 15px;
    background-color: #dcf8b1;
    border-radius: 2px;
    border: 1px solid #83af40;
    margin-right: 5px;
}
.selectedclr{
    width: 15px;
    height: 15px;
    background-color: #83af40;
    border-radius: 2px;
    border: 1px solid #83af40;
    margin-right: 5px;
}
.booked_den{
    color: #fd5353;
}
.available_den{
    color: #91c543;
}
.selected_den{
    color: #83af40;
}
.hiidiv{
    width: 100%;
    height: 300px;
    background-color: red;
}
.bookingform{
    box-shadow: 0px 0px 4px 1px #ccc;
    width: 100%;
    padding: 15px;
    border-radius: 3px;   
}
.bookingform .familymembers{
    display:flex;
    flex-wrap: wrap;
    margin-bottom: 15px;

}
.familyphoto_div{
margin: 0px 15px;
width: 50px;
height: 60px;
text-align: center;
height: 100%;
}
.familyphoto_div img{
    width: 100%;
    height: 100%;
    border-radius: 50px;
}
.familyphoto_div div{
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 500;
    color: grey;

}
.newfamilyphoto_div{
    margin: 0px 15px;
width: 50px;
height: 50px !important; 
border: 1px dashed grey;
border-radius: 50px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
position: relative;
cursor: pointer;
}
.newfamilyphoto_div .new{
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 500;
    color: grey;
    position: absolute;
    bottom: -28px;


}
.newfamilyphoto_div svg{
    fill: grey;
    width: 15px;
    height: 20px;

}
.close_ico{
    width: 20px;
    height: 20px;
    position: absolute;
    top: -10px;
    right: -5px;
    cursor: pointer;
}
.bookingform{
    position: relative;
}
.close_ico svg{
    fill: grey;
}
.mini_formrow{
    display: flex;
    justify-content: space-between;
    margin:5px 10px
}
.mini_formrow .first{
    width: 48%;
    font-weight: 500;
    display: flex;
}
.mini_formrow .second{
    width: 48%;
    display: flex;
    font-weight: 500;
    color: rgb(71, 71, 71);
}
.mini_formrow .first svg{
    width: 14px;
    height: 14px;
    margin-right: 5px;
    fill: rgb(54, 54, 54);
}
.mini_formrow .edit svg{
    width: 14px;
    height: 14px;
    fill: #83af40;
    margin-left: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}
.bookbtnflex{
    text-align: center;
}
.bookbtnflex Button{
  background-color: #83af40 !important;
  font-weight: 500 !important;
  color: white !important;
  border-radius: 50px !important;
  padding:5px 30px;
  margin:15px 0px;
  text-transform: none !important;
}
.nameedit{
    position: relative;
}
.nameedit_form{
    width: 300px;
    // height: 200px;
    background-color: rgb(248, 245, 245);
    position: absolute;
    /* top: 0px; */
    /* top: 30px; */
    bottom: -25px;
    left: 5px;
    z-index: 1;
    box-shadow: 0px 0px 4px 1px #ccc;
    padding: 10px;



}
.nameedit_form:before {
    content: "";
    position: absolute;
    height: 0px;
    width: 0px;
    top: -30px;
    border-width: 15px;
    border-color: #ff262600 rgb(248, 245, 245) transparent transparent;
    border-style: solid;
    right: 75px;
    // box-shadow: 0px 0px 4px 1px #ccc;

    /* transform: scaleY(-6); */
    transform: rotateY(
30deg
) rotate(
90deg
);
}
.miniform_nestedrow{
    display: flex;
    justify-content: space-between;
}

.miniform_nestedrow div{
    width: 80%;
}
.minifrombtn{
    display: flex;
    justify-content: flex-end;
}
.minifrombtn span{
    margin: 5px 10px;
    font-weight: 500;
}
.minifrombtn span:hover{
    cursor: pointer;
}
.minifrombtn .cancel{
    color: #FF4E7E;
}
.minifrombtn .save{
    color: #1732FF8E;
}
.avatar_uploader{
    width: 60px;
    height: 60px;
    background: white;
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 50px;
    box-shadow: 0px 0px 4px 2px #ccc;
    cursor: pointer;


}
.avatar_uploader svg{
    width: 60%;
    height: 60%;
    fill: #83af40;
}
.avatar_uploaderdiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    margin: 5px 0px;
}
.addmember_mini{
    padding: 10px;
}
.addmember_mini .formflex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.addmember_mini .heightformflex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.addmember_mini .formflex .formdiv{
    width: 100%;
}
.addmember_mini .heightformflex span{
    margin: 10px 5px 0px 5px;
}
.avatar_uploaderdiv_btns{
    display: flex;
    justify-content: space-around;
}
.avatar_uploaderdiv_btns Button{
    padding: 5px 25px;
    ;
}
.avatar_uploaderdiv_btns .cancel{
    background-color: white;
    border-radius: 20px;
    border: 1px solid #83af40;
    color: gray;
}
.avatar_uploaderdiv_btns .submit{
    background-color: #83af40;
    border-radius: 20px;
    color: #fff;
}
.avatar_uploaderdiv_btns .submit:hover{
    background-color: #83af40 !important;
}
.border_modal .ant-modal-content{
    border-radius: 15px;
}
.border_modal .ant-modal-header{
    border-radius: 15px;
}
.bookconfirmmodal{
    display: flex;
    width: 100%;
}
.bookconfirmmodal .useravatar{
     width: 20%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}
.bookconfirmmodal .useravatar img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.bookconfirmmodal .useravatar span{
    color: #83af40;
}
.bookconfirmflex{
    display: flex;
    flex-direction: column;
    width: 80%;
}
.bookconfirmflexrow1,.bookconfirmflexrow2{
    display: flex;
    margin:10px 0px;
}

.bookconfirmflexblock1{
    width: 25%;
}
.bookconfirmflexblock2{
    width: 50%;
}
.blockheads{
    color: black;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 16px;
}
.cnfrmbtn{
    display: flex;
    justify-content: center;
}
.cnfrmbtn Button{
    background-color: #83af40;
    color: #fff;
    font-weight: 500;
    margin:10px 0px;
    text-transform: none !important;
    padding: 5px 40px !important;
    border-radius: 30px;
    font-size: 16px;
}
.cnfrmbtn Button:hover{
    background-color: #83af40;
}


.doctorbooking_layout .image-gallery-svg{
    width:28px !important;
}



@media screen and (max-width: 959px) {
    .doctorbooking_layout{
       flex-direction: column !important;
    }
    .flex1{
        width:50% !important;
    }
    .doctorbooking_layout .flex2{
        width:75% !important
    }
    .doctorbooking_layout .flex3{
        width:55% !important;
        margin-top: 20px;
    }
}