.myappointments_layout{
    padding: 50px;
}
.appointmentsheadflex{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 18px;
}
.appointment_icons svg{
   width: 30px;
   height:30px;
   fill:gray;
   margin:0px 5px;
   cursor: pointer;

}
.appointment_icons img{
    width: 33px;
   height:33px;
   fill:gray;
   margin:0px 5px;
   cursor: pointer;

}
.appointment_icons {
    display: flex;
 
 }
 .appointmentlistpaper{
     border-radius: 10px;
     width: 100%;
     box-shadow: 0px 0px 4px 1px #ccc;
     padding: 20px;
     margin: 15px 0px;
 }
 .listpaperflex{
     display: flex;
     justify-content: space-between;
     margin: 2px 0px;
 }
 .listpaperflex .doctrname{
     font-size: 18px;
 }
 .patname{
     color: gray;
 }
 .paidbg{
     background-color: #83AF40;
     color: #fff;
     padding: 0px 5px;
     border-radius: 2px;
 }
 .amntcap{
     font-size: 18px;
 }
 .amntinkwd{
     color: gray;
 }
 .cancelledclr{
     color: #FF6565;
     font-weight: 500;

 }
 .appointdate{
     color: gray;
     margin-right: 5px;
 }
 .appointtime{
     color: black;
     padding-left: 8px;
 }
 .paymentdate,.paymenttime{
     color: gray;
 }
 .reviewbtn{
     color: #83AF40;
     font-weight: 500;
     cursor: pointer;
 }
 .rescheduleclr{
     color: #83AF40;
     font-weight: 500;
 }
 .reviewbtn span{
     margin-left: 15px;
     cursor: pointer;
 }
 .appnttypeclr{
     color: #2DD596;
     font-weight: 500;
 }
 .membericon{
     color: gray;
 }
 .membericon span{
     margin-left: 5px;
     border-radius: 3px;
     background-color: #2680EB;
     padding: 3px 5px;
     color: #fff;
 }
 .cancelspanbtn{
     color: #FF6565;
 }
 .doct_change_color{
     background-color: #83AF40;
     color: #fff;
    padding: 8px 15px;
     border-radius: 50px;
 }
.queuespanbtn{
    color: #FEB911;
}
.cancellationoption {
    display: flex;
    justify-content: center;
    border-top: 1px solid #ddd;
    padding: 40px;
    margin-top: 15px;
}
.cancellationoption Button{
    background-color: #ddd;
    border-radius: 30px;
    margin: 0px 15px;
}
.advfilterflex{
    display: flex;
    justify-content: space-between;
}
.flexr1{
    width: 25%;
    
}
.advfilterflex .applybtn{
    color: white;
    background-color: #83AF40 !important;
    padding: 3px 15px;
    margin-top: 10px;
}
.applybtndiv{
display: flex;
align-items: center;
}
.advfilterhead{
    font-size: 16px;
    font-weight: 500;
margin-bottom: 10px;
}
.presflexdiv{
    display: flex;
    justify-content: space-between;
}
.presflex{
width: 25%;
font-weight: 500;
margin-bottom: 30px;
padding: 24px;
}
.presflexhead{
    color: gray;
    margin-bottom: 5px;
    white-space: nowrap;
}

.dosagediv{
    // height: 300px;
    width: 100%;
    background-color: #ddd;
    padding:  15px 24px;
}
.prescription .ant-modal-body{
    padding: 0px;
}
.dosagehead{
    display: flex;
    
}
.medicinename{
    width: 50%;
    font-weight: 500;
}
.dosagetime{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.dosagetime div{
    width: 20%;
    color: #83AF40;
    font-weight: 500;
    text-align: center;
}
.medicinelevel{
    width: 50%;

}
.medicinelevel div{
    width: 90%;
    background-color: #fff;
    padding: 3px;
    border-radius: 3px;
    font-weight: 500;
    color: gray;
}
.dosagelevel{
    display: flex;
    margin: 10px 0px;
}
.dosagenumerics{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.dosagenumerics div{
    width: 20%;
    background-color: #fff;
    padding: 3px;
    border-radius: 3px;
    font-weight: 500;
    color: gray;
    text-align: center;
}
.paracetomaldesc{
    width: 100%;
    background-color: #fff;
    padding: 5px;
    border-radius: 3px;
    font-weight: 500;
    color: gray;
   
}
.reviewflex{
    display: flex;
    justify-content: center;
}
.reviewimg_cont{
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 4px 1px #ccc;
    border-radius: 10px;
    flex-direction: column;
    padding: 10px;
    font-weight: 500;
}
.reviewimg_cont img{
    width: 80%;
    height: 80%;
    border-radius: 50%;
}
.starratingflex{
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    padding: 5px;
}
.starratingflex .ant-rate{
    color: #83AF40;
    font-size: 30px;
}
.reviewsubmit{
    display: flex;
    justify-content: center;
}
.reviewsubmit Button{
    background-color: #83AF40;
    border-radius: 30px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    text-transform: none;
    padding: 5px 80px;
   
}
.reviewsubmit Button:hover{
    background-color: #83AF40;
}