
.header_reschedule{
    box-shadow: 0px 3px 6px #00000021;
    border-radius: 20px 20px 0px 0px;
    padding: 10px;
    text-align: center;
}
.res_td_pick{
    display: flex;
    padding: 0px 20px 10px;
}
.re_date{
    margin-right: 10px;
    >.MuiButtonBase-root, #date-picker-inline {color:black !important}
}
.re_time .formdiv .MuiInputBase-input  {
    margin-left: 10px;
    color:black !important;
}
.lab_res_btn{
    background-color: #83AF40 !important;
    border: 0px !important;
    border-radius: 50px !important;
    width: 145px;
    font-weight: 600 !important;
    margin-bottom: 20px;
}
.re_btn_div{
    text-align: center;
}