.range_parent_calendar_root .tail-datetime-calendar .calendar-date table tbody tr > *.today::after
  {
    background-color: transparent !important;
  }
  .range_parent_calendar_root .tail-datetime-calendar .calendar-date{
    margin:0px 13px 0px 13px;
  }
  .range_parent_calendar_root .tail-datetime-calendar .calendar-date table tbody tr>*:nth-child(6) {
    color: red !important;
  }
  
  .range_parent_calendar_root .tail-datetime-calendar .calendar-date table thead tr>*:nth-child(6) {
    color: red !important;
  }
  
  .range_upcom_div {
    background-color: #83AF40;
    margin: 15px 20px 0px;
    border-radius: 10px;
    padding: 5px 20px;
    height:60px;
    display: flex;
    justify-content: space-between;
    color: #fff;
  }
  .upcom_cnt_inside{
    text-align: end;
    font-weight: bold;
    font-size: 16px;
  }
  .mem_pro_cont{
    font-size: 16px;
    font-weight: 400;
  }
  // myschedue css
  .my_sch{
    font-size: 20px;
    margin: 15px 20px 0px;
    font-weight: bold;
    color:#333333;
  }
  .upcom_div{
    background-color: #83AF40;
    margin: 15px 20px 0px;
    border-radius: 10px;
    padding: 0px 20px;
    color: #fff;
  }
  .sch_head_name{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0px !important;
  }
  .sch_head_days{
    font-weight: bold;
    font-size: 20px;
    padding-left: 5px;
  }
  .up_comedays{
    font-size: 16px;
  }
  .daysin_clr{
   display: flex;
   justify-content: space-between;
   padding: 0px 25px;
   align-items: center;
  }
  .dot_circle{
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background-color: #83AF40;
    margin-right: 5px;
  }
 .dot_circle_tdy{
    background-color:#F8D3BC !important;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    margin-right: 5px;
 }
 .dot_circle_up{
   background-color: #11A0D9;
   width: 15px;
   height: 15px;
   border-radius: 50px;
   margin-right: 5px;
 }
 .dot_circle_ex{
  background-color:#0A4C85;
  width: 15px;
  height: 15px;
  border-radius: 50px;
  margin-right: 5px;
 }
  .dot_cir_div{
    display:flex;
    align-items: center;
    color:#242134;
  }
  .LR_icons{
    font-size: 2.2rem !important;
  }

  // range css
  .table_fir_sel {
    background-color: #83AF40;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    color:#fff;
  }
  
  .table_sec_sel {
    background-color: #83AF40;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    color: #fff;
  }
  
  .table_inter_sel {
    background-color: #83AF40;
    color:#fff;
    // box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3125) !important;
    // -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3125) !important;
  }
  .date_arrow{
    cursor: pointer;
  }
  
  .date_select_cont{
    text-align: center;
    color: #242134;
    font-size: 15px;
    font: italic normal normal 17px Roboto;
  }
  // bottom of bookings information
  .b_dot_circle{
    background-color:#E0EBCF;
    width:10px;
    height:10px;
    border-radius:50%;
  }