.add_mem_parent{
    padding:10px 8%;
}
.gender_date_div{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.add_labmem_parent .formdiv{
    margin-bottom: 10px;
}
.add_labmem_parent .height_cms{
    position: relative;
    bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#666666;
    font-size: 11px;
    font-weight: 500;
    padding-left: 5px;
}
.Add_ph{
    color:#545454;
    font-weight: 500;
}
.add_labmem_parent .formdiv .labeltxt{
    color:#818181 !important;
    font-size: 13px !important;
}
.add_labmem_parent .ant-select{
    box-shadow: 0 0 1.5px 0px #ccc;
}
.add_labmem_parent{
    padding:10px 8%;
}
