.clinic{
    font-size: 18px;
    color:#333;
    font-weight: bold;
    margin-bottom: 0px !important;
}
.clinic_div{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.clinic_labdiv_parent .ant-select-single:not(.ant-select-customize-input) .ant-select-selector{
    height:35px !important;
  }
  .clinic_labdiv_parent .ant-select{
    color:#666666 !important;
    box-shadow: 0 0 1.5px 0px #ccc;
  }
.clinicallab_parent .formdiv .MuiFormControl-marginNormal{
    border: 1px solid #d9d9d9;
    border-radius: 2px !important;
    box-shadow: 0 0 1.5px 0px #ccc;
}
.clinicallab_parent .formdiv .MuiInputBase-inputAdornedEnd{
    color:none !important;
}
.clinicallab_parent .formdiv .MuiInput-underline:before{
    border-bottom: 0px !important;
}
.clinicallab_parent .formdiv .MuiInputBase-input{
    padding:10px 0px 7px 10px !important; 
    font-size: 13px !important;
    color:black !important;
}
.clinicallab_parent {
>.MuiButtonBase-root, #date-picker-inline {color:black !important;}}
// .MuiButtonBase-root, #date-picker-inline 
.clinicallab_parent .formdiv .labeltxt{
     color:#333 !important;
    font-size: 15px !important;
    margin-bottom: 3px;
    font-weight: 600;
}
.clinicallab_parent .formdiv .MuiSvgIcon-root{
    fill:#C7C7C7 !important;
}
.clinicallab_parent .order_cancel{
    border-radius: 50px !important;
    min-width: 25% !important;
    padding:6px !important;
    text-transform: none !important;
    border:1px solid #707070 !important;
    margin-right: 20px !important;
    font-weight: 600;
    font-size: 12px;
    
}
.clinicallab_parent .order_save{
    border-radius: 50px !important;
    min-width: 25% !important;
    padding:6px !important;
    color:#fff !important;
    background-color: #83AF40 !important;
    text-transform: none !important;
    font-weight: 600;
    font-size: 12px;
    >.MuiButton-label{color:white !important;}
}
.clinic_test{
    background-color:#ECEDEF;
    border-radius: 50px;
    padding: 6px 15px;
    color:#666666;
    margin-left: 10px;
    margin-bottom: 15px;
    cursor: pointer;
}
.test_amt{
    background-color: #83AF40;
    border-radius: 50px;
    padding: 6px 15px;
    color: #fff;
    font-weight: 500;
}
.change_clinic_test{
    background-color: #83AF40;
    margin-left: 10px;
    margin-bottom: 15px;
    border-radius: 50px;
    padding: 6px 15px;
    color:#fff;
    font-weight: 500;
}
.clinicallab_parent{
    padding: 3% 5% 0px 5%;
}
.clinic_lab_div{
    margin-left: 10px;
    width: 70%;
}
.clinic_labdiv_parent{
    display:flex;
}
.lab_booking_confirm{
    box-shadow: 0px 3px 16px #00000029;
    border-radius: 14px;
}
.lab_booking_confirm{
    position: relative;
}
// address elipse css
.lab_adrs{
    color:#666666;
    font-weight: 500;
    
}
.elipse{

   text-decoration: underline;
   color: blue;
   margin-left: 1px;
   cursor: pointer;
}


// media query
@media only screen and (max-width: 959px) {
   .lab_addMember_secondgrid{
       display: flex;
       align-items: center;
       justify-content: center;
   }
   .lab_booking_confirm{
       width:60%;
   }
}