@import "~video-react/styles/scss/video-react"; 

div.ad_doc_btn > a > button.MuiButtonBase-root > span.MuiButton-label {
    color: #fff !important;
}

.react-calendar__tile--active {
    background: #83AF40 !important;
    color: white;
}

.react-calendar {
    width: 100% !important;
    //margin-top: 10px !important;
    margin-bottom: 10px !important;

}
#date-picker-inline{
    text-align: center !important;;
}
.MuiTypography-root, .MuiMenuItem-gutters, .MuiSelect-selectMenu{
    color: #000 !important;
}
h4.MuiTypography-h4, h6.MuiPickersToolbarText-toolbarTxt{
    color: #fff !important;
}

// .MuiButtonBase-root,  #date-picker-inline {
//     color: #fff !important;
// }
.divcalendar{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background: rgb(131, 175, 64);
}
.MuiPickersToolbar-toolbar {
    background-color: rgb(131, 175, 64) !important;
}
.MuiPickersDay-daySelected {
    color: #fff !important;
    font-weight: 500 !important;
    background-color: rgb(131, 175, 64) !important;
}
.MuiPickersDay-daySelected > .MuiIconButton-label > .MuiTypography-root {
    color: #fff !important;
}

.MuiFormControl-marginNormal {
    margin-top: 10px !important;
}
.MuiIconButton-label{
    color: black I !important;
}

.h1div{
    margin-top: 10px !important;
    margin-bottom: 0px !important;
    color: #fff !important;
    // text-align: center !important;
    padding: 1% 2% !important;
    font-size: 150% !important;
}

.feed_layout{
    padding: 30px 150px;
}
.filter_container{
    box-shadow: 0px 0px 4px 1px #ccc;
    padding: 10px;
    width: 30%;
    font-weight: 500;
    border-radius: 10px;
    margin-right: 40px;
    height: 100%;
}
.filter_container .MuiSlider-rail,.MuiSlider-track,.MuiSlider-mark
    {
    height: 5px !important;
}
// .MuiInputBase-input{
//     color: #fff !important;
// }
// .filter_container .MuiSlider-root, .MuiButton-label {
//     color: #83AF40;
// }
.Costfiler{
    margin-top: 10px;
}
.slider_labels{
display: flex;
justify-content: space-between;
font-size: 12px;
}
.applybtn{
    background-color: #83AF40 !important;
    border-radius: 20px !important;
    text-align:center !important;
    width: 100% !important;
    color: #fff !important;
    font-weight: 600 !important;
    text-transform: none !important;
    font-size: 18px !important;
}
.feed_layout{
    display: flex;
    justify-content: space-between;
}
// .female .MuiButton-root:hover{
//     background-color: #83AF40 !important;
// }
.page_control{
    box-shadow: 0px 0px 4px 1px #ccc;
    padding: 10px;
    border-radius: 10px;
    font-weight: 500;
    margin-bottom: 20px;
    

}
.feed_rightcol{
    width: 90%;
}
.night{
    margin-right: 12px !important;
}
.day,.night{
    border: 1px solid #ccc !important;
    width: 36px !important;
    height: 30px !important;
    min-width: unset !important;
    margin-right: 5px !important;
}
.day_changes,.night_changes{
    background-color: #83AF40 !important;
    path{
        fill:#fff !important;
    }
}

.day_changes,.night_changes{
    border: 0px solid #ccc !important;
    width: 36px !important;
    height: 30px !important;
    min-width: unset !important;
    margin-right: 5px !important; 
}
.left,.right{
    border: 1px solid #83AF40 !important;
    width: 36px !important;
    height: 30px !important;
    min-width: unset !important;
    margin-right: 5px !important;

}
.left{
    margin-left: 15px !important;
}
.right{
    margin-right: 20px !important;
}
.left svg{
    width: 30px;
    height: 30px;
}
.right svg{
    width: 30px;
    height: 30px;
}
.day{
    background-color: orange !important;
    
}
.day path{
    fill: #fff;
}
.night path{
    fill: #ccc;
}
.controlbtns{
    display: flex;
    justify-content: center;
}
.date{
    background: #83AF40 !important;
    margin-right: 5px !important;
     color: #fff !important;
     height: 30px !important;
}
.male_ic,.female_ic{
    border: 1px solid #ccc !important;
    width: 36px !important;
    height: 30px !important;
    min-width: unset !important;
    margin-right: 5px !important;
}
.male_changes,.female_changes{
    border: 0px solid #ccc !important;
    width: 36px !important;
    height: 30px !important;
    min-width: unset !important;
    margin-right: 5px !important;
}
.female_changes,.male_changes{
    background-color: #83AF40 !important;
    svg{
        fill:#fff;
        width: 22px;
        height: 22px ;
    }
}
.male_ic svg{
    width: 25px;
    height: 25px ;
    fill: #ccc;
}

.female_ic svg{
    width: 22px;
    height: 22px ;
    fill: #ccc ;
}

.sort{
    display: flex;
}
.sort_cont{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.sort svg{
    width: 16px;
    height: 16px;
}
.best_offers{
    display: flex;
    div{
        margin-right: 5px;
    }
}
@media only screen and (max-width: 1220px) {
    .feed_layout{
        padding: 30px 50px;
    }
  }
  @media only screen and (max-width: 1000px) {
    .feed_layout{
        padding: 30px 30px;
    }
    .filter_container{
        margin-right: 30px;
    }
  }
  @media only screen and (max-width: 970px) {
    .feed_layout{
        flex-direction: column;
        align-items: center;
    }
    .filter_container{
        width: 70%;
        margin-right: 0px;
        margin-bottom: 30px;
    }
    .feed_rightcol{
        width: 70%;
    }
  }
  @media only screen and (max-width: 759px) {
    .filter_container{
        width: 100%;}
        .feed_rightcol{
            width: 100%;
        }
  }
.feed_div{
    box-shadow: 0px 0px 4px 1px #ccc;
    padding: 10px;
    font-weight: 500;
    border-radius: 10px;
    margin-bottom: 15px ;
}
.story_details{
    display: flex;
    align-items: center;
}
.avatar_div{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.avatar_div img{
    width: 100%;
    height: 100%;
    border-radius: 50px;

}
.pimary_detail{
    margin-right: 10px;
    width: 50%;
}
.pimary_detail .detail3,.detail2{
    color: #ccc;
}
.pimary_detail .detail3{
    font-size: 10px !important;
    display: flex;
    align-items: center;
}
.pin img{
    width: 15px;
    height: 15px;
}
.pin{
    color: #F44336;
    justify-content: space-between;
    margin-left: 10px;
}
.story_details{
    justify-content: space-between;
}
.story_details .MuiRating-root {
    font-size: 2.5em !important;
}
.story_details .MuiRating-label {
    margin-bottom: 0px !important;
}

.vd_share{
    position: absolute;
    fill: #f8f9fa !important;
    top: 25px;
    right: 25px;
    font-size: 2.5rem !important;
    cursor: pointer;
}

.carousel-indicators li{
    height: 10px !important;
    width: 10px !important;
    border-radius: 50px !important;
    border: 0px !important;
    background-color: grey;
    opacity: unset !important;
}
.carousel-indicators .active {
    background-color: #ccc;
}
.carousel-item {
    height: 400px;
    margin-top: 15px;

}

div.time_slots > button.MuiButtonBase-root > span.MuiButton-label{
    color: #83AF40 !important;
}
div.filter_container > div > button.MuiButtonBase-root > span.MuiButton-label{
    color: #fff !important;
}
.carousel-item img{
    width: 100%;
    height:100%
}
.carousel-inner .react_video{
    width: 100% !important;
    height: 100% !important;
}
.player-wrapper {
    position: relative;
    padding-top: 56.25%; /* 720 / 1280 = 0.5625 */
  }
  
  .react-player {
    position: absolute;
    top: 0;
    left: 0;
  }
.offer_percent{
    width: 50px;
    height: 50px;
    position: relative;
    margin-right: 10px;

}
.rating_numerics{
   margin-right: 10px;
}
.offer_percent img{
   width: 100%;
   height: 100%;
}
.offer_numerics{
    display: flex;
    flex-direction: column;
    position: absolute;
    color: #fff;
    top: 5px;
    left: 10px;
    font-size: 12px;
}
.rating_numeric_bg{
    width: 50px;
    height: 25px;
    background-color: #83AF40;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
    padding: 5px;
}
.rating_numeric_bg img{
    width: 15px;
    height: 15px;
}
.price_kwd{
    color: #83AF40;
}
.rating_numerics{
    display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
}
.time_slots{
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px !important;
    position: relative;

}

.greenbtn{
    background-color: #d9f1b5 !important; 
    color: #83AF40 !important;
    border: 1px solid #83AF40 !important;
    border-radius: 3px;
height: 28px !important ;
margin-right: 12px !important; 
margin-top: 10px !important;
// width: 92px !important;
// white-space: nowrap;
}
.redbtn{
    background-color: #fbeae5 !important; 
    color: #E12F2F !important;
    border: 1px solid #E12F2F !important;
    border-radius: 3px;
height: 28px !important ;
margin-right: 12px !important;
margin-top: 10px !important;

width: 80px !important;

}



// appointment type css
.appoint_type_doc{
    // box-shadow: 0px 4px 8px #00000029;
    // border-radius: 10px;
    // position: absolute;
    // padding: 20px;
    // bottom: 90px;
    // background-color: #fff;
    // right: 0;
}
.type_div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    div{
        text-align: center;
    }
}
.internet_type{
    position: absolute;
    background-color: #83AF40;
    width: 20px;
    height: 20px;
    right: 6px;
    bottom: 20px;
    /* top: -4px; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    /* padding: 8px; */

   img{
       width:10px;
   }
}
.calendar_part_parent{
    position:relative;
}
.online_type{
    position: relative;
}
.ant-popover-buttons{
    display: none;
}