// prescription head
.pres_h{
    color: #333;
    font-size: 18px;
    font-weight: bold;
}

.pay{
    color:blue;
    font-weight: 600;
}
.delevered{
    color: #83AF40;
    font-weight: 600;
}
.cancelled{
    color:red;
    font-weight: 600;
}
.pres_headdiv{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pres_div{
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 10px;
}
.history_list{
    box-shadow: 0px 1px 7px #00000021;
    border-radius: 20px;
    opacity: 1;
    padding:10px 23px;
    margin-bottom: 20px;
}
.list_itemdiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    color: #939393;
    margin-bottom: 5px;
}
.order_id{
    color:#333;
    font-weight: bold;
}
.pres_kwd{
    padding-left: 13px;
}


// Advance filter
.advance_flt_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
}
// button css
.flt_btns{
   background-color: #ECEDEF !important;
    border-radius: 50px !important;
    padding: 10px !important;
    /* min-width: 109px !important; */
    text-transform: none !important;
    margin-right: 3% !important;
    min-width: 16% !important;
}
.flt_btns_change{
    background-color:#83AF40 !important;
    border-radius: 50px !important;
    padding: 10px !important;
    /* min-width: 109px !important; */
    text-transform: none !important;
    margin-right: 3% !important;
    min-width: 16% !important;
    .MuiButton-label {
    color:#fff ;
       
    }
}

// search css
.pres_search{
    background-color:#83AF40 !important ;
    text-transform: none !important;
    border-radius: 2px !important;
    min-width: 15% !important;
    padding: 6px 20px !important;
    border-radius: 50px !important;
    .MuiButton-label {
        color:#fff ;
           
        }
}


// labelbox css
.pres_div .formdiv .MuiFormControl-marginNormal{
    border:1px solid #CCCCCC !important;
    border-radius: 2px !important;
}
.pres_div .formdiv .MuiInputBase-inputAdornedEnd{
    color:none !important;
}
.pres_div .formdiv .MuiInput-underline:before{
    border-bottom: 0px !important;
}
.pres_div .formdiv .MuiInputBase-input{
    padding:7px 0px 7px 7px !important; 
}
.pres_div .formdiv .labeltxt{
    color:#818181 !important;
    font-size: 15px !important;
    margin-bottom: 3px;
}
.pres_div .formdiv .MuiSvgIcon-root{
    fill:#C7C7C7 !important;
}